.interna-sobre{
  background: url(../img/bg-contato.jpg) no-repeat center;
  background-size:cover;
}

/* Orçamento */

.contato{
  background:#fff;
  width:100%;
  margin-top:60px;
  padding:40px;

}

.contato h2{
  color:#fec63e;
}

.contato h2:after{
  content: "";
  
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 10px auto 8px auto;
}

.contato-form {
padding-right: 60px;
}

.contato-form label{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height:25px;
  margin-bottom: 4px;
}

.contato-form input{
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background:none;
  padding: 7px 10px;
  outline: none;
  font-size:14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}
.contato-form textarea{
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63e;
  background:none;
  padding: 7px 10px;
  outline: none;
  font-size:14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.contato-form button{
  background:none;
  padding:7px 40px;
}

.contato-dados{
  color: #000;
}

.contato-dados h3{
  margin-top: 25px;
  font-size:18px;
  text-transform: uppercase;
  color:#fec63e;
  line-height:25px;
  font-weight: bold;
}

.contato-dados span{
  display: block;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height:30px;

}

.dados-email{
  margin-bottom:40px;
}

.contato-dados p{
  margin: 8px 0;
}

.contato_redes ul li {
  margin-top: 20px;
  display: inline-block;
  margin-right: 10px;
}

.contato_redes ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 8px;
}
.contato_redes ul li a:hover {
  border-color: #000;
}

.contato-mapa{
  margin-bottom: 60px;
}

