/* Estilo para tablet */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* qualidade */

  .qualidade:after {
    left: 66px;
  }

  .qualidade_lista li {
    text-align: center;
    padding: 0 10px;
  }

  /* footer */

  .footer_redes ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 6px;
  }

  .footer_redes ul li a img {
    width: 26px;
    height: 26px;
  }

  /* Produtos */


  .produto-item h2 {
    top: -160px;
    margin-bottom: -70px;
  }

  .produto-icone {
    background: #000;
    padding: 41px 0;
  }

  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height:122px;
  }

  .produto-info ul li {
    line-height:20px;
    width:181px;
    height: 49px;
  }


} /* Final do estilo para tablets*/
/* Estilo para smartphone */
@media only screen and (max-width: 787px) {
  /* header */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto -15px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 5px;
  }

  .header_menu ul li a {
    border: 4px solid black;
    width: 136px;
    display: block;
    float: left;
  }

  .header_menu ul li a:hover {
    border-color: #fff;
  }

  .header_menu ul li a.menu-ativo {
    color:#fff;
    border-color: #fff;
  }

  /* introdução */

  .introducao {
    margin-top: -10px;
    background: url(../img/bg-mobile.jpg) no-repeat center;
  }

  .introducao h1 {
    margin-top: 20px;
  }

  .introducao h1{
    font-size: 36px;
    line-height: 40px;
    padding-top: 30px;
  }

/* Introdução interna */

.introducao-interna {
  margin-top: 0px;
}

.introducao-interna h1{
  font-size: 36px;
}

  /* Qualidade home */
  .qualidade:after {
    display: none;
  }


  /* Call */
  .call {
    padding-top: 10px;
    text-align: center;
    clear: both;
  }

  /* Sobre */

  .missao-sobre p{
    font-size: 14px;
    line-height: 20px;
    padding-right: 0;
  }

.missao-sobre ul li{
  font-size: 14px;
  line-height: 25px;
}

  /* Produtos */


  .produto-item h2 {
    top: -110px;
    margin-bottom: -84px;
  }

  .produto-icone {
    background: #000;
    padding: 41px 0;
  }

  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height:auto;
  }

  .produto-info ul li {
    line-height:20px;
    width:149px;
    height: 49px;
    font-size: 14px;
    padding-top: 14px;
  }

  /* orcamento produtos */

  .form{
    padding-right: 0;
  }

  .orcamento-dados ul{
    padding-right: 0px;
    }

    /* Contato */

    .contato-form {
      padding-right: 0px;
      }


} /* Fim do estilo para smartphone*/
